
*{
      margin:0;
      padding: 0;

    }
    #first{
      height: 100px;
      text-align:center;
      font-size:xx-large;
      width:1350px;
      background-color: #159957  ;
      color:black;
      padding:10px; 
    }
    #second{
      text-align:center;
      height: 70px;
      width:1350px;
      background-color:  #159957;
      color:#e5e7e9;
      font-family:Franklin Gothic;
      font-size:xx-large;
    }
    #six{
      
      height:400px;
      width:600px;
      margin: 10px;
      margin-left: 20px;
      display:inline-block;
    }
    #six_2{
      
      height:400px;
      width:600px;
      margin: 10px;
      margin-left: 20px;
      display:inline-block;
      font-family: Calibri;
      color:white;
      font-style: xx-large;
      float: right;
      
      
    }
    #footer{
      background-color: black;
      height:70px;
      width: 1350px;
    }
a:link, a:visited{
    color:white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
#rest{
      background-image:url("https://media.giphy.com/media/xTiTnxpQ3ghPiB2Hp6/giphy.gif");
}
